includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 6
    paths:
        - src/
    scanDirectories:
        - vendor/php-stubs/wordpress-stubs/
    ignoreErrors:
        - identifier: trait.unused
