parameters:
	ignoreErrors:
		-
			message: '#^Function wp_cache_add_multiple\(\) should return array\<string, bool\> but returns array\<int\|string, bool\>\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Cache/drop-in/object-cache.php

		-
			message: '#^Method WPPack\\Component\\Database\\Bridge\\PostgreSQL\\PostgreSQLDriver\:\:quoteStringLiteral\(\) should return string but returns string\|false\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Database/Bridge/PostgreSQL/src/PostgreSQLDriver.php

		-
			message: '#^Parameter \#2 \$params of method WPPack\\Component\\Database\\Driver\\MySQLDriver\:\:bindAndExecute\(\) expects list\<mixed\>, array given\.$#'
			identifier: argument.type
			count: 2
			path: src/Component/Database/src/Driver/MySQLDriver.php

		-
			message: '#^Offset ''type'' might not exist on array\{function\: string, line\?\: int, file\?\: string, class\?\: class\-string, type\?\: ''\-\>''\|''\:\:'', args\?\: list\<mixed\>, object\?\: object\}\.$#'
			identifier: offsetAccess.notFound
			count: 1
			path: src/Component/Database/src/WPPackWpdb.php

		-
			message: '#^Parameter \#2 \$data of function fwrite expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/DatabaseExport/src/Writer/JsonWriter.php

		-
			message: '#^Method WPPack\\Component\\DependencyInjection\\ContainerBuilder\:\:findTaggedServiceIds\(\) should return array\<string, list\<array\<string, mixed\>\>\> but returns array\<string, array\>\.$#'
			identifier: return.type
			count: 1
			path: src/Component/DependencyInjection/src/ContainerBuilder.php

		-
			message: '#^Parameter \#1 \$list of method WPPack\\Component\\Filesystem\\Filesystem\:\:flattenDirlist\(\) expects array\<string, array\{type\: string, files\?\: array\<string, mixed\>\}\>, array\<string, array\{name\: string, perms\: string, permsn\: string, owner\: string\|false, size\: int\|string\|false, lastmodunix\: int\|string\|false, lastmod\: string\|false, time\: string\|false, \.\.\.\}\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Filesystem/src/Filesystem.php

		-
			message: '#^Method WPPack\\Component\\Filesystem\\WordPress\\UploadPath\:\:uploadDir\(\) should return array\{path\: string, url\: string, subdir\: string, basedir\: string, baseurl\: string, error\: string\|false\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Filesystem/src/WordPress/UploadPath.php

		-
			message: '#^Method WPPack\\Component\\HttpFoundation\\File\\UploadedFile\:\:wpHandleUpload\(\) should return array\{error\: string\}\|array\{file\: string, url\: string, type\: string\} but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Component/HttpFoundation/src/File/UploadedFile.php

		-
			message: '#^Parameter \#1 \$query of class WPPack\\Component\\HttpFoundation\\Request constructor expects array\<string, mixed\>, array\<int\|string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/HttpFoundation/src/Request.php

		-
			message: '#^Method WPPack\\Component\\Mailer\\Bridge\\SendGrid\\Transport\\SendGridApiTransport\:\:buildPersonalization\(\) should return array\{to\: list\<array\{email\: string, name\?\: string\}\>, cc\?\: list\<array\{email\: string, name\?\: string\}\>, bcc\?\: list\<array\{email\: string, name\?\: string\}\>\} but returns array\{to\: array\<array\{email\: string, name\?\: string\}\>, cc\?\: non\-empty\-array\<array\{email\: string, name\?\: string\}\>, bcc\?\: non\-empty\-array\<array\{email\: string, name\?\: string\}\>\}\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Mailer/Bridge/SendGrid/src/Transport/SendGridApiTransport.php

		-
			message: '#^Method WPPack\\Component\\Media\\Storage\\ImageEditor\\StorageImageEditor\:\:_save\(\) should return array\{path\: string, file\: string, width\: int, height\: int, mime\-type\: string\}\|WP_Error but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Media/src/Storage/ImageEditor/StorageImageEditor.php

		-
			message: '#^Parameter \#1 \$input of class AsyncAws\\CloudWatch\\ValueObject\\MetricStat constructor expects array\{Metric\: array\|AsyncAws\\CloudWatch\\ValueObject\\Metric, Period\: int, Stat\: string, Unit\?\: ''Bits''\|''Bits/Second''\|''Bytes''\|''Bytes/Second''\|''Count''\|''Count/Second''\|''Gigabits''\|''Gigabits/Second''\|''Gigabytes''\|''Gigabytes/Second''\|''Kilobits''\|''Kilobits/Second''\|''Kilobytes''\|''Kilobytes/Second''\|''Megabits''\|''Megabits/Second''\|''Megabytes''\|''Megabytes/Second''\|''Microseconds''\|''Milliseconds''\|''None''\|''Percent''\|''Seconds''\|''Terabits''\|''Terabits/Second''\|''Terabytes''\|''Terabytes/Second''\|''UNKNOWN_TO_SDK''\|null\}, array\{Metric\: AsyncAws\\CloudWatch\\ValueObject\\Metric, Period\: int, Stat\: string, Unit\?\: non\-empty\-string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Monitoring/Bridge/CloudWatch/src/CloudWatchMetricProvider.php

		-
			message: '#^Parameter \$prefix of class WPPack\\Component\\Query\\Wql\\ParsedExpression constructor expects ''meta''\|''post''\|''tax''\|''term''\|''user'', string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Query/src/Wql/ExpressionParser.php

		-
			message: '#^Parameter \#1 \$object of static method DateTimeImmutable\:\:createFromMutable\(\) expects DateTime, DateTime\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Scheduler/Bridge/EventBridge/src/Collector/ActionSchedulerCollector.php

		-
			message: '#^Parameter \#1 \$members of static method WPPack\\Component\\Scim\\Controller\\GroupController\:\:extractMemberIds\(\) expects list\<array\<string, mixed\>\>, array\<mixed, mixed\> given\.$#'
			identifier: argument.type
			count: 3
			path: src/Component/Scim/src/Controller/GroupController.php

		-
			message: '#^Parameter \#1 \$length of function random_bytes expects int\<1, max\>, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Security/Bridge/OAuth/src/Pkce/PkceGenerator.php

		-
			message: '#^Parameter \$transports of class WPPack\\Component\\Security\\Bridge\\Passkey\\Storage\\PasskeyCredential constructor expects list\<string\>, array\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Security/Bridge/Passkey/src/Controller/RegistrationController.php

		-
			message: '#^Cannot call method get_error_message\(\) on array\|WP_Error\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Component/Security/Bridge/SAML/src/Configuration/IdpMetadataParser.php

		-
			message: '#^Method WPPack\\Component\\Security\\Bridge\\SAML\\SamlAuthenticator\:\:extractAttributes\(\) should return array\<string, list\<string\>\> but returns array\<string, array\<string\>\>\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Security/Bridge/SAML/src/SamlAuthenticator.php

		-
			message: '#^Method WPPack\\Component\\Security\\Authentication\\Passport\\Passport\:\:getBadge\(\) should return \(T of WPPack\\Component\\Security\\Authentication\\Passport\\Badge\\BadgeInterface\)\|null but returns WPPack\\Component\\Security\\Authentication\\Passport\\Badge\\BadgeInterface\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Security/src/Authentication/Passport/Passport.php

		-
			message: '#^Parameter \#1 \$callback of function array_map expects \(callable\(int\|WP_Site\)\: mixed\)\|null, Closure\(WP_Site\)\: string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Site/src/SiteRepository.php

		-
			message: '#^Method WPPack\\Component\\Taxonomy\\TermRepository\:\:addMeta\(\) should return int\|null but returns int\|WP_Error\|null\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Taxonomy/src/TermRepository.php

		-
			message: '#^Parameter \#2 \$length of function fread expects int\<1, max\>, int\<min, \-1\>\|int\<1, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Wpress/src/WpressArchive.php

		-
			message: '#^Parameter \$scopes of class WPPack\\Plugin\\OAuthLoginPlugin\\Configuration\\ProviderConfiguration constructor expects list\<string\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Plugin/OAuthLoginPlugin/src/Configuration/OAuthLoginConfiguration.php

		-
			message: '#^Parameter \$transports of class WPPack\\Component\\Security\\Bridge\\Passkey\\Storage\\PasskeyCredential constructor expects list\<string\>, array\<string\> given\.$#'
			identifier: argument.type
			count: 1
			path: src/Plugin/PasskeyLoginPlugin/src/Activation/PasskeyActivationController.php
