parameters:
	ignoreErrors:
		-
			message: '#^Function wp_cache_add_multiple\(\) should return array\<string, bool\> but returns array\<int\|string, bool\>\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Cache/drop-in/object-cache.php

		-
			message: '#^Method WPPack\\Component\\Mailer\\Bridge\\SendGrid\\Transport\\SendGridApiTransport\:\:buildPersonalization\(\) should return array\{to\: list\<array\{email\: string, name\?\: string\}\>, cc\?\: list\<array\{email\: string, name\?\: string\}\>, bcc\?\: list\<array\{email\: string, name\?\: string\}\>\} but returns array\{to\: array\<array\{email\: string, name\?\: string\}\>, cc\?\: non\-empty\-array\<array\{email\: string, name\?\: string\}\>, bcc\?\: non\-empty\-array\<array\{email\: string, name\?\: string\}\>\}\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Mailer/Bridge/SendGrid/src/Transport/SendGridApiTransport.php

		-
			message: '#^Method WPPack\\Component\\Media\\Storage\\ImageEditor\\StorageImageEditor\:\:_save\(\) should return array\{path\: string, file\: string, width\: int, height\: int, mime\-type\: string\}\|WP_Error but returns array\.$#'
			identifier: return.type
			count: 1
			path: src/Component/Media/src/Storage/ImageEditor/StorageImageEditor.php

		-
			message: '#^Parameter \#1 \$input of class AsyncAws\\CloudWatch\\ValueObject\\MetricStat constructor expects array\{Metric\: array\|AsyncAws\\CloudWatch\\ValueObject\\Metric, Period\: int, Stat\: string, Unit\?\: ''Bits''\|''Bits/Second''\|''Bytes''\|''Bytes/Second''\|''Count''\|''Count/Second''\|''Gigabits''\|''Gigabits/Second''\|''Gigabytes''\|''Gigabytes/Second''\|''Kilobits''\|''Kilobits/Second''\|''Kilobytes''\|''Kilobytes/Second''\|''Megabits''\|''Megabits/Second''\|''Megabytes''\|''Megabytes/Second''\|''Microseconds''\|''Milliseconds''\|''None''\|''Percent''\|''Seconds''\|''Terabits''\|''Terabits/Second''\|''Terabytes''\|''Terabytes/Second''\|''UNKNOWN_TO_SDK''\|null\}, array\{Metric\: AsyncAws\\CloudWatch\\ValueObject\\Metric, Period\: int, Stat\: string, Unit\?\: non\-empty\-string\} given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Monitoring/Bridge/CloudWatch/src/CloudWatchMetricProvider.php

		-
			message: '#^Parameter \$prefix of class WPPack\\Component\\Query\\Wql\\ParsedExpression constructor expects ''meta''\|''post''\|''tax''\|''term''\|''user'', string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Query/src/Wql/ExpressionParser.php

		-
			message: '#^Parameter \#1 \$object of static method DateTimeImmutable\:\:createFromMutable\(\) expects DateTime, DateTime\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Component/Scheduler/Bridge/EventBridge/src/Collector/ActionSchedulerCollector.php

		-
			message: '#^Parameter \$scopes of class WPPack\\Plugin\\OAuthLoginPlugin\\Configuration\\ProviderConfiguration constructor expects list\<string\>\|null, array\<mixed, mixed\>\|null given\.$#'
			identifier: argument.type
			count: 2
			path: src/Plugin/OAuthLoginPlugin/src/Configuration/OAuthLoginConfiguration.php
