includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src/
    excludePaths:
        - */tests/*
        - src/*/vendor/*
        - src/Component/*/templates/*
    scanDirectories:
        - vendor/roots/wordpress-no-content/wp-includes/
        - vendor/woocommerce/action-scheduler/
    scanFiles:
        - vendor/wp-cli/wp-cli/php/utils.php
    ignoreErrors:
        -
            identifier: trait.unused
            reportUnmatched: false
        -
            identifier: property.onlyWritten
            path: src/Component/*/src/*Registry.php
            reportUnmatched: false
        -
            identifier: function.resultUnused
            path: src/Component/Scheduler/Bridge/EventBridge/src/Interceptor/*
            reportUnmatched: false
