includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    level: 6
    paths:
        - src/
    excludePaths:
        - */tests/*
        - src/*/vendor/*
        - src/Component/*/templates/*
    scanDirectories:
        - vendor/roots/wordpress-no-content/wp-includes/
    ignoreErrors:
        - identifier: trait.unused
