<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerErrors="true"
>
    <testsuites>
        <testsuite name="Component">
            <directory>src/Component/*/tests</directory>
        </testsuite>
        <testsuite name="Bridge">
            <directory>src/Component/*/Bridge/*/tests</directory>
        </testsuite>
        <testsuite name="Plugin">
            <directory>src/Plugin/*/tests</directory>
        </testsuite>
        <testsuite name="MuPlugin">
            <directory>src/MuPlugin/*/tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory suffix=".php">src/Component/*/src</directory>
            <directory suffix=".php">src/Component/*/Bridge/*/src</directory>
            <directory suffix=".php">src/Plugin/*/src</directory>
            <directory suffix=".php">src/MuPlugin/*/src</directory>
        </include>
    </source>
</phpunit>
